{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivuty": "css",
    "insertPragma": false,
    "singleAttributePerLine": false,
    "bracketSameLine": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "requirePragma": false,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": true,
    "parser": "typescript"
  }
  